---
import { Image } from 'astro:assets';
import aboutImage from "../img/aboutpic.svg";
---

<section class="py-28" id="about">
  <div class="max-w-5xl mx-auto flex-wrap-reverse flex justify-around items-center px-1">
    <div class="max-w-lg m-8">
      <h1 class="text-3xl font-bold my-4">Что-за хакатон?</h1>
      <p class=" my-6">
        Google Developer Student Hackathon - грандиозный 26 часовой хакатон для студентов бакалавриата, магистратуры и аспирантуры из г. Астаны, который будет проходить в стенах Astana IT University 20-21 апреля.
      </p>
      <a href="#agenda" class="link link-primary my-5 text-xl link-hover">Программа хакатона 👇</a>
    </div>
    <Image src={aboutImage} alt='About img' width={400}/>
  </div>
</section>
