---
import { Image } from 'astro:assets';
import aboutImage from "../img/aboutpic.svg";
---

<section class="py-28">
  <div class="max-w-5xl mx-auto flex justify-between items-center">
    <div class="max-w-lg">
      <h1 class="text-3xl font-bold my-4">About this hackathon</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
        veritatis ex laborum at natus, veniam nostrum magnam, distinctio placeat
        accusamus fuga beatae blanditiis, ab exercitationem modi soluta.
        Repudiandae, eligendi ipsum!
      </p>
    </div>
    <Image src={aboutImage} alt='About img' width={400}/>
  </div>
</section>
