<section class="py-28" id="agenda">
  <div class="max-w-5xl mx-auto">
    <h1 class="text-center text-3xl font-bold mb-8">Agenda 🗓</h1>
    <div class="flex flex-wrap justify-around items-start content-center">
      <span class="max-w-md">
        <h2 class="text-center text-2xl my-6">День 1</h2>
        <ul class="timeline timeline-vertical">
          <li>
            <div class="timeline-start">9:00 - 9:30</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Регистрация</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">9:30 - 9:45</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">
              Церемония открытия
            </div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">9:50 - 10:20</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Сессия "Сообщество GDSC: Цели и Глобальная Миссия". Спикер - Аскар Айтуов.
            </div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">10:20 - 10:45</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">
              Сессия "Как побеждать на Хакатонах". Спикер: Заур Бердибеков 
            </div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">11:00 - 12:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Презентация компании-спонсора CROCOS и Обзор Технического Задания 
            </div>
          </li  >
          <li>
            <hr />
            <div class="timeline-start">12:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Начало хакатона</div>
          </li>
          <li>
            <hr />
            <div class="timeline-start">12:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Начало хакатона</div>
          </li>
          <li>
            <hr />
            <div class="timeline-start">13:40 - 14:10</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Энерджайзер: "Funny Photo Challenge" 
            </div>
          </li>
          <li>
            <hr />
            <div class="timeline-start">14:00 - 15:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Кофе-брейк</div>
          </li>
          <li>
            <hr />
            <div class="timeline-start">15:00 - 17:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Чекпойнт №1</div>
          </li>
          <li>
            <hr />
            <div class="timeline-start">19:00 - 21:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Чекпойнт №2</div>
          </li>
        </ul>
      </span>
      <span class="max-w-md">
        <h2 class="text-center text-2xl my-6">День 2</h2>
        <ul class="timeline timeline-vertical">
          <li>
            <div class="timeline-start">9:00 - 9:30</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Регистрация</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">9:30 - 9:45</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">
              Церемония открытия
            </div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">14:00 - 15:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Кофе-брейк</div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">16:00-18:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">
              Питчинг проектов
            </div>
            <hr />
          </li>
          <li>
            <hr />
            <div class="timeline-start">19:00</div>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
                ><path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <div class="timeline-end timeline-box">Церемония закрытия</div>
          </li>
        </ul>
      </span>
    </div>
  </div>
</section>
