<section class="py-28">
  <div class="max-w-5xl mx-auto">
    <h1 class=" text-center text-3xl font-bold mb-8">FAQ</h1>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        Are you gae?
      </div>
      <div class="collapse-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quam, aliquam architecto provident velit delectus. Iusto facere doloremque non officia quod unde iure quasi obcaecati repellendus veritatis? Qui, provident iste.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        How many days will hackathon last?
      </div>
      <div class="collapse-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos facilis quis beatae ut harum suscipit quo dolor ullam enim nemo! Ea explicabo reprehenderit consequatur nobis laboriosam aspernatur blanditiis nostrum odit!</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Click to open this one and close others?
      </div>
      <div class="collapse-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit sunt debitis nostrum. Aspernatur dolore quod minima distinctio, ullam eius ab, mollitia omnis beatae sed, tempora veniam non dignissimos commodi at.</p>
      </div>
    </div>
  </div>
</section>
