<section class="py-28" id="faq">
  <div class="max-w-3xl mx-auto px-2">
    <h1 class="text-center text-3xl font-bold mb-8">FAQ ❔</h1>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        Как зарегистрироваться на хакатон?
      </div>
      <div class="collapse-content">
        <p>Для регистрации на хакатон, пожалуйста, перейдите по <a href="https://forms.gle/Nfd8ibYUT5h52h318" class="link link-primary" target="_blank">ссылке</a> на регистрацию.
        </p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Кто может участвовать?
      </div>
      <div class="collapse-content">
        <p>К участию приглашаются студенты университетов всех уровней: бакалавриат, магистратура, аспирантура </p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Нужно ли формировать команду до регистрации?
      </div>
      <div class="collapse-content">
        <p>Да, форму регистрации заполняет капитан уже сформированной команды. Если у вас еще нет команды, вы можете ее найти в нашем чате</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Могу ли я участвовать, если я новичок в программировании?
      </div>
      <div class="collapse-content">
        <p>Да, участие не требует предварительного технического опыта или знаний в программировании.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Будут ли на хакатоне менторы?
      </div>
      <div class="collapse-content">
        <p>Да, во время хакатона будут проведены два <b>чекпоинта</b>, на которых каждая команда сможет получить 5-минутную консультацию от технического специалиста компании-спонсора CROCOS.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Можно ли оставаться на ночь в университете?
      </div>
      <div class="collapse-content">
        <p>Нет, работать над проектами в университете можно до 21:00. Ночевать в университете не разрешается.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Можно ли использовать уже начатый проект?
      </div>
      <div class="collapse-content">
        <p>Нет, все проекты должны начать разрабатываться с начала хакатона.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Какие языки программирования разрешены?
      </div>
      <div class="collapse-content">
        <p>Вы можете использовать любой язык программирования по вашему выбору.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        С чем будет связано техническое задание?
      </div>
      <div class="collapse-content">
        <p>Техническое задание будет ориентировано на разработку в области искусственного интеллекта.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Могут ли участники работать над проектом удаленно?
      </div>
      <div class="collapse-content">
        <p>Нет, участие в хакатоне предполагает работу над проектом в стенах Astana IT University днем.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Могу ли я менять команду после регистрации?
      </div>
      <div class="collapse-content">
        <p>Да, но необходимо уведомить об этом одного из координаторов, написав им в личные сообщения в Телеграмме</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Можно ли участвовать без команды?
      </div>
      <div class="collapse-content">
        <p>Нет, для участия в хакатоне необходимо иметь команду.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Какие дополнительные активности запланированы?
      </div>
      <div class="collapse-content">
        <p>Помимо основной работы над проектами, участников ждут танцевальные и музыкальные выступления, а также <b>энерджайзеры</b> для поддержания мотивации.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Что произойдет с правами на разработанные проекты?
      </div>
      <div class="collapse-content">
        <p>Все права на проекты остаются у их авторов. В случае заинтересованности, спонсор может предложить сотрудничество.</p>
      </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 my-3">
      <input type="radio" name="my-accordion-3" />
      <div class="collapse-title text-xl font-medium">
        Что необходимо принести с собой?
      </div>
      <div class="collapse-content">
        <ul>
          <li>- Удлинители</li>
          <li>- Удостоверение личности для регистрации и идентификации.</li>
          <li>- Ноутбук</li>
          <li>- Зарядное устройство и/или повербанк для поддержания работы ваших устройств.</li>
          <li>- Бутылка для воды</li>
          <li>- Хорошее настроение и готовность к сотрудничеству и творчеству!</li>
        </ul>
      </div>
    </div>
  </div>
</section>
