---
import logo from '../img/logo.png';
---

<div class="p-10 bg-base-200">
  <footer class="footer text-base-content max-w-5xl sm:mx-auto">
    <aside>
      <img src={logo.src} alt="" width="70">
      <b class="mt-6">Google developer students club AITU</b>
    </aside>
    <nav>
      <h6 class="footer-title">Контакты</h6>
      <a class="link link-hover" href="https://www.instagram.com/crocos_digital?igsh=MTdxMnZiNGx0Ymk4cg==">Crocos</a>
      <a class="link link-hover" href="https://www.instagram.com/gdsc_aitu?igsh=N2VhZGN1anhqYmUz">GDSC AITU instagram</a>
      <a class="link link-hover" href="https://www.instagram.com/astana_it_university?igsh=a3lpd2k3OWtudnFx">AITU instagram</a>
      <a class="link link-hover" href="https://t.me/gdsc_aitu_chat">Telegram GDSC</a>
    </nav>
    <nav>
      <h6 class="footer-title">Овервью</h6>
      <a class="link link-hover" href="#about">Про хакатон</a>
      <a class="link link-hover" href="https://t.me/+yZ2hZaRx87xhNDUy">Телеграм группа хакатона</a>
      <a class="link link-hover" href="#faq">FAQ</a>
    </nav>
  </footer>
</div>
