<section class="py-20" id="prizes">
  <div class="max-w-5xl mx-auto">
    <h1 class="text-3xl font-bold my-4 text-center">Prize pool ๐</h1>
    <div class="flex flex-wrap justify-around items-center">
      <div class="card w-80 bg-base-100 shadow-xl my-5 mx-3">
        <div class="card-body">
          <h2 class="card-title">1 ะะตััะพ ๐ฅ</h2>
          <p>250 000 ัะตะฝะณะต</p>
        </div>
      </div>
      <div class="card w-80 bg-base-100 shadow-xl my-5 mx-3">
        <div class="card-body">
          <h2 class="card-title">2 ะะตััะพ ๐ฅ</h2>
          <p>150 000 ัะตะฝะณะต</p>
        </div>
      </div>
      <div class="card w-80 bg-base-100 shadow-xl my-5 mx-3">
        <div class="card-body">
          <h2 class="card-title">3 ะะตััะพ ๐ฅ</h2>
          <p>100 000 ัะตะฝะณะต</p>
        </div>
      </div>
    </div>
  </div>
</section>
