<section>
    <div class="max-w-5xl mx-auto">
        <h1 class="text-3xl font-bold my-4 text-center">Prize pool</h1>
        <div class="flex justify-between items-center">
            
        </div>
    </div>
</section>